*.pt
*.txt
*.xml
tmp/
*.jpg
*.localdomain
*.sh
temp/
logs/
results/
model_abs_en2en_de/events.out.tfevents.1647866348.f4335bb27c02
model_abs_en2en_de/events.out.tfevents.1647866918.f4335bb27c02
model_abs_en2en_de/events.out.tfevents.1647867036.f4335bb27c02
src/cuda-repo-ubuntu1604-8-0-local-ga2_8.0.61-1_amd64-deb
src/__pycache__/distributed.cpython-37.pyc
src/__pycache__/train_abstractive.cpython-37.pyc
src/models/__pycache__/__init__.cpython-37.pyc
src/models/__pycache__/configuration_bert.cpython-37.pyc
src/models/__pycache__/data_loader.cpython-37.pyc
src/models/__pycache__/decoder.cpython-37.pyc
src/models/__pycache__/encoder.cpython-37.pyc
src/models/__pycache__/loss.cpython-37.pyc
src/models/__pycache__/model_builder.cpython-37.pyc
src/models/__pycache__/neural.cpython-37.pyc
src/models/__pycache__/optimizers.cpython-37.pyc
src/models/__pycache__/predictor.cpython-37.pyc
src/models/__pycache__/reporter.cpython-37.pyc
src/models/__pycache__/trainer.cpython-37.pyc
src/others/__pycache__/__init__.cpython-37.pyc
src/others/__pycache__/logging.cpython-37.pyc
src/others/__pycache__/pyrouge.cpython-37.pyc
src/others/__pycache__/utils.cpython-37.pyc
src/translate/__pycache__/__init__.cpython-37.pyc
src/translate/__pycache__/beam.cpython-37.pyc
src/translate/__pycache__/penalties.cpython-37.pyc
model_abs_en2en_de/events.out.tfevents.1649768683.4ca42b43e355
model_abs_en2en_de/events.out.tfevents.1649854460.3cd76b7ecbf5
model_abs_en2en_de/events.out.tfevents.1649916098.f7aeb219f1fc
model_abs_en2en_de/events.out.tfevents.1650090831.79fa5daecbf2
model_abs_en2en_de/events.out.tfevents.1650272409.436b3f86ee2d
model_abs_en2en_de/events.out.tfevents.1650294146.436b3f86ee2d
model_abs_en2en_de/events.out.tfevents.1650352829.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650352921.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650353001.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650353023.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650353111.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650354122.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650355745.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650355836.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650356071.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650356173.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650356606.69aa7cf8215a
model_abs_en2en_de/events.out.tfevents.1650369510.d1dfcf5ae019
model_abs_en2en_de/events.out.tfevents.1650371776.d1dfcf5ae019
model_abs_en2en_de/events.out.tfevents.1650602582.f3918411dd53
model_abs_en2en_de/events.out.tfevents.1650602635.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650282765.436b3f86ee2d
model_abs_enende_fewshot1/events.out.tfevents.1650291049.436b3f86ee2d
model_abs_enende_fewshot1/events.out.tfevents.1650295844.436b3f86ee2d
model_abs_enende_fewshot1/events.out.tfevents.1650356769.69aa7cf8215a
model_abs_enende_fewshot1/events.out.tfevents.1650549275.51e0dba71e15
model_abs_enende_fewshot1/events.out.tfevents.1650597578.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650601059.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650601625.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650601681.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650601804.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650601925.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650602795.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650602911.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650603032.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650608172.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650608293.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650608749.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650608906.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650610302.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650610459.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650610950.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650611110.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650611273.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650611430.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650617451.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650617534.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650618148.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650618231.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650618928.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650619035.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650619222.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650619305.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650619613.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650619695.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650619889.f3918411dd53
model_abs_enende_fewshot1/events.out.tfevents.1650619971.f3918411dd53
src/cuda-repo-ubuntu1604-8-0-local-ga2_8.0.61-1_amd64-deb.1
src/cuda-repo-ubuntu1604-8-0-local-ga2_8.0.61-1_amd64-deb.2
