*.pt
*.txt
*.xml
tmp/
*.jpg
*.localdomain
*.sh
temp/
logs/
results/
model_abs_en2en_de/events.out.tfevents.1647866348.f4335bb27c02
model_abs_en2en_de/events.out.tfevents.1647866918.f4335bb27c02
model_abs_en2en_de/events.out.tfevents.1647867036.f4335bb27c02
src/cuda-repo-ubuntu1604-8-0-local-ga2_8.0.61-1_amd64-deb
src/__pycache__/distributed.cpython-37.pyc
src/__pycache__/train_abstractive.cpython-37.pyc
src/models/__pycache__/__init__.cpython-37.pyc
src/models/__pycache__/configuration_bert.cpython-37.pyc
src/models/__pycache__/data_loader.cpython-37.pyc
src/models/__pycache__/decoder.cpython-37.pyc
src/models/__pycache__/encoder.cpython-37.pyc
src/models/__pycache__/loss.cpython-37.pyc
src/models/__pycache__/model_builder.cpython-37.pyc
src/models/__pycache__/neural.cpython-37.pyc
src/models/__pycache__/optimizers.cpython-37.pyc
src/models/__pycache__/predictor.cpython-37.pyc
src/models/__pycache__/reporter.cpython-37.pyc
src/models/__pycache__/trainer.cpython-37.pyc
src/others/__pycache__/__init__.cpython-37.pyc
src/others/__pycache__/logging.cpython-37.pyc
src/others/__pycache__/pyrouge.cpython-37.pyc
src/others/__pycache__/utils.cpython-37.pyc
src/translate/__pycache__/__init__.cpython-37.pyc
src/translate/__pycache__/beam.cpython-37.pyc
src/translate/__pycache__/penalties.cpython-37.pyc
